body {
  background-color: #ecf0f1;
  color: #34495e;
}

.btn {
  cursor: pointer;
}

h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}

.name-form,
.greetings {
  display: none;
}

.show {
  display: block;
}